# compiled output
/dist
/node_modules
/build

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.local
.env.*.local

# tests / coverage
/coverage
.nyc_output

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp

# OS
.DS_Store
Thumbs.db

# misc
*.tsbuildinfo
.eslintcache
